<template>
  <div class="about">
    <div class="work"></div>
    <h3>Входящее</h3>
    <TodoList  
      v-bind:todos="todos"
      @remove-todo="removeTodo"
    
    ></TodoList>
    <AddTodo
      @modal="show=$event"
      @add-todo="addTodo"
       v-if="show"
     />
    <p class="add" @click="show=!show" v-if="!show"><span>+</span> Добавить задачу</p>
  </div>
</template>
<script>
import TodoList from '@/components/TodoList'
import AddTodo from '@/components/AddTodo'
export default {
  
  data(){
    return{
      todos:[  
        {id:1, title:' Finish task', completed:false},
        {id:2, title:' Find job', completed:false},
        {id:3, title:' Go to university', completed:false},
      ],
      show:false
    }
  },
  methods:{
    removeTodo(id){
      this.todos=this.todos.filter(t=> t.id !== id)
    },
     addTodo(todo){
       this.todos.push(todo)
     }
  },
  components: {
    TodoList,AddTodo
  }
}
</script>
<style  scoped>

  h3{
    margin-left: 250px;
  }
  input{
    width:300px;
    height: 100px;
  }
  .buttons{   
    display: flex;
  }
  .add{
    margin-left: 300px;
  }
  span{
    color: #dd4b39;
  }
</style>
