<template>
    
    <form class="task" @submit.prevent="onSubmit"  >
      <input  type="text" v-model="title" placeholder="напр., сдать таск">
      <div class="buttons">
         <button v-if= "title.length!==0" class="cursor_p enable" type="submit">Добавить задачу</button>
         <button v-if= "title.length===0" class="cursor_p disable" type="submit">Добавить задачу</button>
         <p class="cursor_p" @click="closeModal">Cancel</p>
      </div>
    </form>

</template>

<script>
export default {
    data() {
        
        return {
            title: '',
        }
        
    },
    methods:{
        onSubmit(){
            if(this.title.trim()){
                const newTodo=
                {
                    id:Date.now(),
                    title:this.title,
                    
                }
                this.$emit('add-todo',newTodo)
                this.title = ''
            }
          
        },
         closeModal() {
            this.$emit('modal', false)
        }
    }
}
</script>
<style  scoped>
    .cursor_p{
        cursor: pointer;
    }
    .task{
        margin-top: 20px;
        margin-left: 300px;
    }
    .buttons{
        display: flex;
    }
    .enable{
        margin-top: 9px;
        width: 150px;
        height: 28px;
        background-color: #dd4b39;
        border: 1px solid #dd4b39;
        color: white;
        font-weight: 600;
    }
    .disable{
        margin-top: 9px;
        width: 150px;
        height: 28px;
        background-color: #e2796b;
        border: 1px solid #dd4b39;
        color: white;
        font-weight: 600;
    }
    .cancel{
        margin-left: 50px;
    }
    input{
        width:500px;
        height: 90px;
    }
    .disabled{
       background-color: #db39;
       color:white
    }
</style>