<template>
    
        <div class="sidebar">
            <div class="sidebar_lists">
                <div class="list1">
                    <router-link to="/about"  id="p"><p><i class="fas fa-inbox"></i> Входящие</p></router-link>
                    <router-link to="/today"  id="p"> <p><i class="fas fa-calendar-times"></i> Сегодня </p></router-link>
                    <router-link to="/coming" id="p"><p><i class="fas fa-calendar-day"></i> Предстоящее </p></router-link>
                </div>
                <div class="list2">
                    <SidebarAccordeonList />

                  
                    <!-- <ul >
                        <li >
                            <i class="fas fa-chevron-right"></i>
                            Проекты
                        </li>
                        <li >
                            <i class="fas fa-chevron-right"></i>
                            Метки
                        </li>
                        <li >
                            <i class="fas fa-chevron-right"></i>
                            Фильтры
                        </li>
                    </ul> -->
                </div>
            </div> 
        </div>
    
     
</template>
<script>
import TodoList from '@/components/TodoList'
import SidebarAccordeonList from '@/components/SidebarAccordeonList'
export default {
    components:{
        TodoList,SidebarAccordeonList
    }
}
</script>
<style >
.sidebar{
    width:350px;
    justify-content: center;
    display:flex;
    background-color:rgb(245, 245, 245);
    height: 676px;
}
.sidebar_list{
    
    display: flex;
}
.list1{
    width: 140px;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* border: 1px solid; */
    margin-left: 10px;
}
#p{
  text-decoration: none;
  color: black;
}
.fa-inbox{
  color:#50a4d4;
}
.fa-calendar-times{
  color:#6ee474f3;
}
.fa-calendar-day{
  color:#905fda;
}
.list1 i{
    padding-right: 5px;
}
.list2{
    width: 240px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    /* border: 1px solid; */
}

</style>