<template>
<transition name="expand"
    @enter="enter"
    @after-enter="afterEnter"
    @leave="leave"
    >
    <ul v-show="list.open" class="list-item">
        <li class="sub-list" v-for="(item,index) in list.sublist" :key="index">
            <i class="fas fa-tint"></i>
            {{item}}
        </li>
    </ul>
</transition>
</template>
<script>
export default {
    props:[
        'list'
    ],
    methods:{
        enter(el){
            el.style.height='auto';
            const height=getComputedStyle(el).height;
            el.style.height=0

            getComputedStyle(el);

            setTimeout(()=>{
                el.style.height=height;
            });

        },
        afterEnter(el){
            el.style.height='auto';
        },
        leave(el){
            el.style.height=getComputedStyle(el).height;
            getComputedStyle(el);
            setTimeout(()=>{
                el.style.height=0;
            });

        }
    }
}
</script>

<style scoped>
.list-item{
    list-style: none;
    padding: 0;
}
.sub-list{
    padding: 0;
    display: flex;
    margin-top: 15px;
}
.sub-list i{
    color: rgb(60, 171, 235);
    padding-right: 12px;
}
.expnad-enter{
    height: 0;
}
.expand-enter-active, .expand-leave-active{
    transition: height .5s ease-in-out;
    overflow: hidden;
}
</style>