<template>
    <div class="list-item">
        <li>
            <span v-bind:class="{done: todo.completed}">
                <input type="checkbox" v-on:click="$emit('remove-todo',todo.id)">
                 {{todo.title}}
            </span>
        </li>
    </div>
</template>

<script>

export default {
    props:{
        todo:{
            type:Object,
            required:true
        },
        index:Number
    }
}
</script>

<style  scoped>
    .list-item{
        margin-left: 260px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    li{
        display: flex;
        justify-content: space-between;
        padding: .5rem 2rem;
        margin-bottom: 1rem;
        margin-left: -30px;
    }
</style>