<template>
    <div class="list">
        <ul>
            <TodoItem 
             v-for="(todo,i) of todos"
                 :todo="todo"
                 v-bind:index="i"
                 :key="todo.id"
                 v-on:remove-todo="removeTodo"
            />
        </ul>
    </div>
</template>

<script>
import TodoItem from '@/components/TodoItem'
export default {
    props:['todos'],
    components:{
        TodoItem
    },
    data(){
       return{
           show:true
       }
   },
    methods:{
        removeTodo(id){
            this.$emit('remove-todo',id)
        }
    }
}
</script>

<style  scoped>
    ul{
        list-style: none;
    }
</style>